table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    border-right: 10px solid white;
    padding: 10px;
    font-weight: bold;
    font-family: 微软雅黑, Arial;
    color: white;
    text-align: right;
    background-color: #c0c0c0;
}

table td {
    padding: 10px;
    border-right: 10px solid white;
    background-color: #c0c0c0;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:visited {
    color: darkgray;
}

a:hover {
    color: red;
}

table tr td:last-child {
    text-align: center;
}
